.upper-row{
    display: flex;
    flex-direction:column;
    align-items: end;
    justify-content: center;
    margin-top: 50px;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 70px;
    // flexDirection: "column",
    // alignItems: "end",
    // justifyContent: "center",
    // marginTop: "50px",
}
.sigmeee{
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
  white-space: nowrap;
}
.row{
    display: flex;
    overflow-x: scroll;
    flex-direction: row-reverse;
    width: 100%;
    // justify-content: end;
}