.footer-main{
    display: flex;
justify-content: space-between;
align-items: center;
}

.footer-main {
    padding: 12px 0px;
}
.input-main{
    height: 23px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    padding: 5px 10px;
    border-radius: 50px;
    background: #F7F6F9;
    color: #F7F6F9;
    align-items: center;
}

.search img{
    width: 40%;
}
.input-main input{
    background: #F7F6F9;
  
    border: none;
    display: flex;
    justify-content: center;
    text-align: right;
    align-items: center;
}


.white-placeholder input::placeholder {
    color: #DDDDDD;
  }
  
  .black-placeholder input::placeholder {
    color: #484848;
  }

.logo{
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 45px;
    height: 23px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 70px;
}

.logo2 img{
    width: 130px;
}

.footer2{
    display: flex;
    gap: 30px;
    align-items: center;
}

.footer3{
    display: flex;
    gap: 15px;
    align-items: center;
}

.menu img{
    width: 26px;
    height: 17px;
}

@media only screen and (max-width: 430px) {
    .footer3{
display: flex;
justify-content: space-between;
    }
    .footer3 a div{
        width: 50px !important;
        height: 50px !important;
    }
    .footer3 a div img{
        width: 18px !important; 
    }
.footer-main{
    display: block;
}
.sifeee{
    width: 90% !important;
}
}